.title{
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    word-break: break-word;
}

.mat-icon{
    height: 20px;
}

.margin-left{
    margin-left: 20px;
}

.bg-green{
    background-color: rgb(24, 218, 24);
    padding: 4px;
}
.font{
    letter-spacing: 0px;
    color: #070707;
    opacity: 1;
    word-break: break-word;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: 9px;
}
.margin{
    margin-right: 5%;
}
.underlineNominee {
    border-bottom: 5px solid #FB4E60 !important;
    margin-top: 0px;
    width: 16%;
    margin-left: 14px;
}