<div class="container-fluid px-0">

    <div class="col-lg-12 mt-1">
        <mat-card class=" scrollbar scrollbar-primary m-1">
            <mat-card class="mt-0 mb-3">
                <div class="row">
                    <div>
                        <mat-icon class="nominee-icons">person_outline</mat-icon>
                        <span class="title-nominee">Payout Details</span>

                    </div>
                    <span class="underlinePayoutDetails"></span>
                    <div class="row mt-2">
                        <div class="col-md-3">
                            <p class="title-heading mt-2 mb-0">Claim Amount</p>
                            <span class="data">--</span>
                        </div>
                        <div class="col-md-3 ">
                            <p class="title-heading mt-2 mb-0">Unclaimed Amount</p>
                            <span class="data">--</span>
                        </div>
                        <div class="col-md-3">
                            <p class="title-heading mt-2 mb-0">TDS Flag</p>
                            <span class="data">--</span>
                        </div>
                        <div class="col-md-3">
                            <p class="title-heading mt-2 mb-0">Penal Interest Amount</p>
                            <span class="data">--</span>
                        </div>
                        <div class="col-md-3">
                            <p class="title-heading mt-2 mb-0">Penal Interest Days</p>
                            <span class="data">--</span>
                        </div>
                        <div class="col-md-3">
                            <p class="title-heading mt-2 mb-0">Penal Interest %</p>
                            <span class="data">--</span>
                        </div>
                        <div class="col-md-3">
                            <p class="title-heading mt-2 mb-0">Bank Interest Amount</p>
                            <span class="data">--</span>
                        </div>
                        <div class="col-md-3">
                            <p class="title-heading mt-2 mb-0">Bank Interest Days</p>
                            <span class="data">--</span>
                        </div>
                        <div class="col-md-3">
                            <p class="title-heading mt-2 mb-0">Bank Interest %</p>
                            <span class="data">--</span>
                        </div>
                    </div>


                </div>
                <div class="row mt-5">
                    <div class="col-md-3 d-flex">
                        <p class="title-heading mt-2 mb-0">Decision  :</p>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button mat-raised-button class="button-1">Submit</button>
                </div>


            </mat-card>
        </mat-card>