
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 120px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #F1F4F6;
  }
  