<div class="title-header">
    <mat-card class="dashboardTitle">
        <mat-card-title>Dashboard</mat-card-title>
    </mat-card>
</div>
<div class="container-fluid">
    <div class="mt-4">
        <mat-card>
            <h4 class="title-work text-center">My Work Queue</h4>

            <div class="example-header">
                <mat-form-field floatLabel="always">
                    <input matInput #filter (keyup)="applyFilter($event.target)" placeholder="Search">
                </mat-form-field>
            </div>


            <mat-table #table [dataSource]="dataSource" class="" matSort>
                <ng-container matColumnDef="Claim No">
                    <mat-header-cell *matHeaderCellDef class="header-data" mat-sort-header> Claim No.</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-data link" (click)="redirect(element)"> {{
                        element?.claimNo || '-'}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Policy">
                    <mat-header-cell *matHeaderCellDef class="header-data" mat-sort-header> Policy No.
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-data"> {{ element?.policyId || '-' }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Date Of Event">
                    <mat-header-cell *matHeaderCellDef class="header-data" mat-sort-header> Date of Event
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-data"> {{ element.eventDt | date:'dd/MM/yyyy' ||
                        '-'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Claim Type">
                    <mat-header-cell *matHeaderCellDef class="header-data" mat-sort-header> Claim Type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-data"> {{ element.claimType }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Intimation Date">
                    <mat-header-cell *matHeaderCellDef class="header-data" mat-sort-header> Date Of Intimation
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-data"> {{ element?.claimIntimationDt |
                        date:'dd/MM/yyyy' || '-'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Case Status">
                    <mat-header-cell *matHeaderCellDef class="header-data" mat-sort-header> Case
                        Status</mat-header-cell>

                    <mat-cell *matCellDef="let element" class="mat-data"> {{ element?.tskDispName || '-'}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Case Stage">
                    <mat-header-cell *matHeaderCellDef class="header-data" mat-sort-header> Case Stage
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-data"> {{ element?.stageDesc || '-' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Intimating Branch">
                    <mat-header-cell *matHeaderCellDef class="header-data" mat-sort-header> Intimating Branch
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-data"> {{ element?.intimatingBranch || '00' }}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
        </mat-card>
    </div>
</div>