<div class="container-fluid  px-0" *ngIf="appCode != 'CR'">
    <div class="col-lg-12 mt-1">
        <mat-card class="scrollbar scrollbar-primary m-1 mb-2">
            <div >
                <mat-card>
                    <mat-form-field floatLabel="always" class="col-md-10">
                        <textarea matInput name="remark" cols="100" rows="8"
                            placeholder="Please enter the remark" required></textarea>
                    </mat-form-field>
                </mat-card>
            </div>
            <div class="btn-vs remarkbtn">
                <button mat-raised-button class="btn-remark">SUBMIT</button>
                <button mat-raised-button class="button-clr-2" type="submit">REJECT</button>
            </div>
        </mat-card>
    </div>
</div>
<div class="container-fluid px-0" *ngIf="appCode == 'CR'">
<div class="col-lg-12 mt-1">
<mat-card class="scrollbar scrollbar-primary m-1 mb-2">
    <form [formGroup]="remarkForm">
    <div>
        <mat-card>
            <mat-form-field floatLabel="always" class="col-md-10">
                <textarea matInput name="remark" cols="100" rows="8"
                    placeholder="Please enter the remark"  formControlName="tskDcsnRmrks" required></textarea>
            </mat-form-field>
        </mat-card>
        <div class="btn-vs remarkbtn">
            <button mat-raised-button class="button-1 mx-3" (click)="onCancelButton()">Cancel</button>
            <button mat-raised-button class="button-blue"  type="submit" (click)="approveCR()">SUBMIT</button>
            <button mat-raised-button class="button-clr-2" type="submit" (click)="rejectCR()">REJECT</button>
        </div>
    </div>
</form>
</mat-card>

</div>
</div>