.heading {
    padding: 22px;
    color: red;
    font-weight: 400;
}

.close {
    margin-left: 517px
}

.preview {
    margin-bottom: 13px;
}

.imagViewer {
    height: 400px;
    width: 400px;
}

.docName{
    font-weight: 400!important;
}

.fileName{
    font-weight: 400!important;
}

.noDataFound{
    padding: 234px 37px 14px 110px;
    font-size: 20px;
    font-weight: 600;
    color: red;
}

.icon{
   color: #1E4679;
}
.view{
    margin-left: 80px;
}

.download{
    margin-left: 72px;
}

.cancelbtn{
    width: 20px;
    margin-left: 228px!important;
    margin-top: 72px;
}